body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-weight:300;
}

.emoButton{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  display:inline-block;
  background:lightgrey;
  transition: all 800ms ease;
}

.bluebg.enter, .bluebg:hover, .bluebg:active,.bluebg:focus{
    color:lightgrey;
    transition: all 800ms ease;
}
.yellowbg.enter, .yellowbg:hover, .yellowbg:active,.yellowbg:focus{
    color:black;
    transition: all 800ms ease;
}
.redbg.enter, .redbg:hover, .redbg:active,.redbg:focus{
    color:yellow;
    transition: all 800ms ease;
}
.orangebg.enter, .orangebg:hover, .orangebg:active,.orangebg:focus{
    color:black;
    transition: all 800ms ease;
}
.greenbg.enter, .greenbg:hover, .greenbg:active,.greenbg:focus{
    color:brown;
    transition: all 800ms ease;
}

.hvr-shadow{cursor:pointer;}

.CodeMirror{
    background:none !important;
    height:auto !important;
}
th, td{
    text-align:left !important;
    padding:10px;
}

.attHeader{
    margin:0 auto;
    text-align:center;
    margin-top:40px;
}

table{
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:80px;
    padding:10px;
    border-radius:10px;
    background:lightgrey;
}
a, a:visited{
    text-decoration:none;
    color:black;
}
a:hover{
    color:steelblue;
}